generated-by = makedeb
pkgname = podman
pkgbase = podman
pkgdesc = A tool for managing OCI containers and pods.
pkgrel = 1
pkgver = 4.4.0
url = https://podman.io/
arch = amd64
backup = /etc/containers/registries.conf
backup = /etc/containers/policy.json
conflicts = podman-git
conflicts = podman-bin
depends = slirp4netns
depends = systemd
depends = libapparmor-dev
depends = conmon>=2.1.5
depends = btrfs-progs
depends = runc
depends = go-md2man
depends = iptables
depends = libassuan-dev
depends = libbtrfs-dev
depends = libc6-dev
depends = libdevmapper-dev
depends = libglib2.0-dev
depends = libgpgme-dev
depends = libgpg-error-dev
depends = libprotobuf-dev
depends = libprotobuf-c-dev
depends = libseccomp-dev
depends = libselinux1-dev
depends = libsystemd-dev
depends = uidmap
license = Apache
makedepends = golang-go>=1.16.0
makedepends = pkg-config
makedepends = git
provides = podman
source = git+https://github.com/containers/podman.git#tag=v4.4.0
source = https://src.fedoraproject.org/rpms/containers-common/raw/main/f/registries.conf
source = https://src.fedoraproject.org/rpms/containers-common/raw/main/f/default-policy.json
b2sums = SKIP
b2sums = 0cb5f1e8b30a48b337bea4effcad172d3c379ccde4fa89d500cfffd6e8bf017f22664e923f53584d6322662a966bddf584f2298c9aae464a33e4bdb1f399f792
b2sums = 9b4d41f6063ff6131648d801ad44951f3a426551deb5a6d3ea4f991339d5f375f003fffcf637632c9d83b1e74eda959750906316a1c510c728cf8a93548d4cf8
makedepends = golang-go>=1.16.0
makedepends = pkg-config
makedepends = git
