generated-by = makedeb
pkgname = podman
pkgbase = podman
pkgdesc = A tool for managing OCI containers and pods.
pkgrel = 1
pkgver = 4.7.2
url = https://podman.io/
arch = amd64
conflicts = podman-git
conflicts = podman-bin
depends = systemd
depends = conmon>=2.1.5
depends = crun
depends = golang-github-containers-common
depends = libc6
depends = libdevmapper1.02.1
depends = libgpgme11
depends = libseccomp2
depends = libsubid4
license = Apache
makedepends = golang-go>=2:1.18.0
makedepends = pkg-config
makedepends = git
makedepends = libbtrfs-dev
makedepends = libsystemd-dev
makedepends = libdevmapper-dev
makedepends = libgpgme-dev
makedepends = libseccomp-dev
optdepends = s!btrfs-progs: support btrfs backend devices
optdepends = r!buildah: CLI tool to facilitate building OCI images
optdepends = r!catatonit: init process for containers
optdepends = r!dbus-user-session: simple interprocess messaging system (systemd--user integration)
optdepends = r!fuse-overlayfs>=1.0.0~: implementaion of overlay+shiftfs in FUSE for rootless containers
optdepends = r!slirp4netns: User-mode networking for unpriviledged network namespaces
optdepends = r!uidmap: programs to help use subuids
optdepends = s!containers-storage: CLI tools for handling how containers are stored on disk
optdepends = s!podman-compose: for docker-compose compatibility
optdepends = s!podman-docker: for Docker-compatible CLI
optdepends = s!iptables: administration tool for packet filtering and NAT
provides = podman
source = git+https://github.com/containers/podman.git#tag=v4.7.2
b2sums = SKIP
makedepends = golang-go>=2:1.18.0
makedepends = pkg-config
makedepends = git
makedepends = libbtrfs-dev
makedepends = libsystemd-dev
makedepends = libdevmapper-dev
makedepends = libgpgme-dev
makedepends = libseccomp-dev
optdepends = s!btrfs-progs: support btrfs backend devices
optdepends = r!buildah: CLI tool to facilitate building OCI images
optdepends = r!catatonit: init process for containers
optdepends = r!dbus-user-session: simple interprocess messaging system (systemd--user integration)
optdepends = r!fuse-overlayfs>=1.0.0~: implementaion of overlay+shiftfs in FUSE for rootless containers
optdepends = r!slirp4netns: User-mode networking for unpriviledged network namespaces
optdepends = r!uidmap: programs to help use subuids
optdepends = s!containers-storage: CLI tools for handling how containers are stored on disk
optdepends = s!podman-compose: for docker-compose compatibility
optdepends = s!podman-docker: for Docker-compatible CLI
optdepends = s!iptables: administration tool for packet filtering and NAT
